.site-navigation{
    font-family: "Montserrat";
    font-weight: 400;
    font-size: $main-text-size;
    text-transform: uppercase;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;}

    

.site-navigation__item{
    -webkit-transition: color 200ms linear;
    -o-transition: color 200ms linear;
    transition: color 200ms linear;

    &::after{
     @include pseudo (block, "");
    background-color: #fce38a;
    height: 3px;
    width: 0%;
    margin-top: 4px;
    -webkit-transition: width 200ms linear;
    -o-transition: width 200ms linear;
    transition: width 200ms linear;}
    
    &:hover:after{
    width: 100%;}
    &:hover{
    color: #fce38a;}
    }

.site-navigation__icon{
        width: 18px;
        height: 18px;
        background-repeat: no-repeat;

        &:hover{
            cursor: pointer;}

    &--cart{background-image: url(../images/icons/menu-icons/cart.png);}
    &--search{background-image: url(../images/icons/menu-icons/search.png);}
    }

   

    
