.services__item{
    padding-bottom: 92px;
    @include center-flex ('ver');

    &:nth-last-child(-n+3){
        padding-bottom: 0px;}

    &::before{
        @include pseudo (block, "");
        height: 32px;
        width: 32px;
        margin-right: 30px;}


    &--alarm::before{background-image: url(../images/icons/service-icons/alarm.png);}
    &--line::before{background-image: url(../images/icons/service-icons/line.png);}
    &--computer::before{background-image: url(../images/icons/service-icons/computer.png);}
    &--book::before{ background-image: url(../images/icons/service-icons/book.png);}
    &--home::before{ background-image: url(../images/icons/service-icons/home.png);}
    &--image::before{ background-image: url(../images/icons/service-icons/image.png);}
 }
 
 .services__item-card{
     width: 300px;}
 .services__item-title{
     padding-bottom: 8px;}

     