.button{
     border-style: none;
     cursor: pointer;
     color: inherit;
    text-transform: uppercase;
    font-family: $main-font-stack;
    font-weight: 700;
    font-size: $main-text-size;}

    .button:hover,
    .button:focus{
    cursor: pointer;}
