/* Main colors */
$main-yellow-color: #fcae26;
$main-white-color: #fff;
$main-gray-color: #444;
$main-black-color: #222;
$back-gray-color: #fafafa;
$main-purple-color: #824fe3;

/* Secondary colors */
$secondary-yellow-color: #faebd0;
$secondary-purple-color: #e2d8f5;
$secondary-green-color: #c8eae8;
$secondary-red-color: #fbdcd2;
$secondary-footer-color: #151515;

/* Social colors */
$telegram-back-color: #3d99e3;
$facebook-back-color: #2e4d72;
$youtube-back-color: #ba1f2e;

/* Fonts */
$main-font: 'Ubuntu', sans-serif;
$secondary-font: 'OpenSans', sans-serif;