@media(max-width:747px){
    .container{
        width: 320px;}
}

@media(min-width:748px) {
    .container{
    width: 660px;}
header{
    min-height: 702px;
    }
    
.header-items{
    flex-direction: row-reverse;
        height: 36px;
        padding-top: 38px;
}
.promo{
        width: 532px;}
h1{
        font-size: 52px;
    margin: 146px 0 34px;}
.promo p{
        width: 100%;
        font-size: 24px;}

.promo button{
    width: 226px;
    height: 40px;}

 h2{ margin: 0 0 28px;}

 .partners{padding: 70px 0 40px 0;}

.partners-list-wrapper{
width: 492px;
display: flex;
justify-content: space-around;
flex-wrap: wrap;}


.partners-list-item{
    margin-bottom: 58px;}

.partners-list-item:nth-child(2n){
    margin-bottom: 0;}

.partner1{order: 1;}
.partner2{order:3;}
.partner3{order: 2;}
.partner4{order: 4;}

.partners button{
    margin-top: 38px;
    width: 192px;
    height: 40px;}

}


@media(min-width:1440px){

.container{width: 940px;}

.promo{ width: 532px;}
.partners-list-wrapper{
    width: 940px;}

.partners-list-item{
    margin-bottom: 0;}
} 


