body{
    font-family: "Playfair Display", "Ubuntu" sans-serif;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
}

.main-menu{
    font-size: 14px;
    list-style-type: none;
}

.main-menu a{
    color: #626262;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;

}